@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

* {
    color: #585b84;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 1.5rem;
}