@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

* {
    color: #585b84;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}
h2 {
    font-size: 1.75rem;
    font-weight: 500;
}
h3 {
    font-size: 1rem;
    font-weight: 450;
}

:root {
    --ui-primary: #585b84;
}

.actions {
    a {
        @apply bg-neutral-100
    }
}


.photo {
    img {
        --a: 2deg; /* угол поворота (чем меньше, тем лучше) */
        width: 250px;
        aspect-ratio: 1;
        border-radius: 50%;
        transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));
        -webkit-mask:
                linear-gradient(135deg,#000c 40%,#000,#000c 100%)
                100% 100%/250% 250%;
        transition: .4s;
        cursor: pointer;
    }
    .alt {
        --r: 1,1;
        -webkit-mask:
                linear-gradient(45deg,#000c 40%,#000,#000c 60%)
                0 100%/250% 250%;
    }
    img:hover {
        --i: -1;
        -webkit-mask-position: 0 0;
    }
    .alt:hover {
        -webkit-mask-position: 100% 0;
    }
}
