@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

* {
    color: #585b84;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}
h2 {
    font-size: 1.75rem;
    font-weight: 500;
}
h3 {
    font-size: 1rem;
    font-weight: 450;
}

.actions {
    a {
        @apply bg-neutral-100
    }
}